.risk__box {
  //   background-image: url(../../assets/images/riskimage.png);
  display: flex;
  align-items: center;
  justify-content: center;
  // position: absolute;
  width: 17rem;
  height: 8rem;
  // position: absolute;
  top: 507px;
  right: 806px;
  cursor: pointer;
}

.risk__text {
  text-align: center;
  color: #e46c64;
  font-family: "Proxima Nova", sans-serif;
  height: 1.5rem;
  width: 10rem;
  font-weight: bold;
  /* border: 1rem solid transparent; */
  background-color: #fcf0f0;
}
