.risk__box {
  background-color: rgb(218, 177, 177);
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.5rem;
  height: 4rem;
  position: absolute;
  top: 473px;
  right: 317px;
}
