.risk__box {
  //   background-image: url(../../assets/images/riskimage.png);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.5rem;
  height: 4rem;
  position: absolute;
  top: 643px;
  right: 439px;
}

.risk__text {
  text-align: center;
  color: #e46c64;
  font-family: "Proxima Nova", sans-serif;
  height: 1.5rem;
  width: 7rem;
  /* border: 1rem solid transparent; */
  background-color: #ffecec;
}
