.background__image {
  background-image: url("./assets/images/schedule.png");
  //   background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

html {
  margin: 0rem;
  padding: 0rem;
}

// .section {
//   // display: flex;
//   // align-items: center;
//   // justify-content: center;
//   // // margin: 20%;
//   // // position: relative;
// }
