.background__image {
  // background-image: url("./assets/images/ScheduleBefore.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

html {
  margin: 0rem;
  padding: 0rem;
}

.button__risk {
  position: absolute;
  top: 5%;
  background-color: transparent;
  z-index: 1000;
  width: 10rem;
  height: 3rem;
  left: 50%;
  border: none;
  cursor: pointer;
}

.cover {
  height: 3rem;
  width: 10rem;
  position: absolute;
  background-color: #fcf0f0;
  top: 35rem;
  left: 13rem;
}

.underline {
  position: absolute;
  top: 36rem;
  left: 64rem;
  padding: 0rem 1rem;
  background-color: #fcf0f0;
}

.backup__icon {
  position: absolute;
  top: 27.2rem;
  left: 67.8rem;
}

.home {
  position: absolute;
  top: 0rem;
  left: 0rem;
  // background-color: blue;
  height: 6rem;
  width: 7rem;
  cursor: pointer;
}
